// Variable configurations for things like colors, fonts, sizes, etc…

@beige: #EFE8E1;
@light-beige: #EAE9E8;
@red: #E6553F;
@brown: #332E27;

@color-body : @beige;
@color-primary : @brown;
@color-secondary: @red;
